.container{
    width: 100px;
    height: 100%;
    background-color: yellow;
    position: static; /* DEFAULT. Significa que preserva ordem em que seus elementos aparecem no HTML. Chamamos de elemento NÃO posicionado.*/
}

.one, .two, .three{
    border: 1px solid black;
    margin: 2px;
    padding: 20%;
    text-align: center;
}

.one{
    position: relative; /* Posicionamento relativo a si mesmo. Deslocamento de acordo com as propriedades abaixo: */
    top: 10px;
    left: 10px;
}

.two{
    position: relative; /* Posicionamento relativo ao primeiro elemento pai que seja posicionado (qualquer position que não static). Caso não tenha, se relaciona com o browser. */
    top: 10px;
    right: 10px;
}

.three{
    position: fixed; /* Posicionamento relativo ao browser. */
    bottom: 10px;
    right: 10px;
}

/* Propriedade z-index (default: 0) cuida da sobreposição dos elementos. Z-index maiores ficam por cima. */